:root {
  --main-col: #3989ba;
  --light-shade: #edece6;
  --dark-shade: #151e29;
  --light-accent: #5fdfed;
  --dark-accent: #465d98;
  --button-col: #ba843a;
  --button-hover: #d49a48;
  --button-accent-2: #6e450c;
  --button-danger: #ad3e3e;
  --button-danger-hover: #c24646;
}

* {
  margin: 0;
}

/* header styling */
.header {
  background-color: var(--dark-shade);
  display: flex;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}

@media screen and (min-width: 600px) {
  .header__logo {
    display: flex;
    margin: 10px;
    text-decoration: none;
    color: var(--light-shade);
  }

  .header__logo > img {
    width: 40px;
    max-height: 40px;
  }

  .header__logo > div {
    display: flex;
    align-items: flex-start;
    margin-left: 5px;
    margin-top: 1px;
    margin-right: 20px;
  }

  .header__logo > div > strong {
    font-size: 24px;
    font-weight: 700;
    margin-right: 0.2rem;
  }

  .header__logo > div > span {
    font-size: 25px;
    font-weight: 100;
  }
}

.header__logo {
  display: flex;
  margin: 10px;
  text-decoration: none;
  color: var(--light-shade);
}

.header__logo > img {
  width: 30px;
}

.header__logo > div {
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  margin-top: 1px;
  margin-right: 20px;
}

.header__logo > div > strong {
  font-size: 20px;
  font-weight: 700;
  margin-right: 0.2rem;
}

.header__logo > div > span {
  font-size: 21px;
  font-weight: 100;
}

.header__search {
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: var(--accent);
  color: white;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__link {
  color: var(--light-shade);
  text-decoration: none;
  text-align: end;
}

.header__cart {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (ming-width: 600px) {
  .header__optionLineOne {
    font-size: 12px;
  }

  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 11px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.header__basketCount {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  padding: 2px;
  min-width: 1rem;
  border-radius: 40%;
  font-size: 11px;
  text-align: center;
  color: var(--light-shade);
  background-color: var(--button-col);
}

/* home styling */
.home {
  max-width: 2100px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    position: absolute;
    top: 60px;
  }
  .home__hero {
    background-color: rgba(237, 236, 230, 0.5);
    border-radius: 50px;
    margin-top: 4rem;
    padding: 1rem 2rem;
    margin-bottom: 4rem;
  }

  .home__logo > img {
    width: 200px;
  }

  .home__logo > div {
    margin-top: 0.5rem;
    font-size: 2rem;
  }

  .home__Description {
    font-size: 1rem;
    width: 500px;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(237, 236, 230, 0.8);
  }
}

.home__image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  position: absolute;
  top: 50px;
}

.home__hero {
  margin-top: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.home__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.home__logo > img {
  width: 180px;
}

.home__logo > div {
  margin-top: 0.5rem;
  font-size: 1.9rem;
}

.home__Description {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  .home__row {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    z-index: 1;
  }
}

.home__row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  z-index: 1;
  max-width: 80vw;
}

/* product view styling */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px;
  padding: 15px;
  max-width: 100%;
  background-color: white;
  text-decoration: none;
  border-radius: 2%;
  color: var(--dark-shade);
  box-shadow: 0 0.8px 1px rgba(0, 0, 0, 0.013),
    0 1.7px 2.4px rgba(0, 0, 0, 0.019), 0 2.8px 4.2px rgba(0, 0, 0, 0.023),
    0 4.4px 7px rgba(0, 0, 0, 0.027), 0 6.9px 11.6px rgba(0, 0, 0, 0.031),
    0 11.8px 20.8px rgba(0, 0, 0, 0.037), 0 27px 48px rgba(0, 0, 0, 0.05);
}

.product__info {
  height: 4rem;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
  margin-bottom: 10px;
  align-self: flex-start;
  text-decoration: none;
  color: initial;
}

.product__info > h3 {
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 5px;
  height: 300px;
  padding: 20px;
  border-radius: 5%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.product__imageContainer > img {
  max-width: 200px;
  height: 100%;
  object-fit: contain;
}

.product__form {
  display: flex;
}

.product__cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--light-shade);
  background-color: var(--button-col);
  border-radius: 5px;
  width: 10rem;
  height: 1.5rem;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.product__cartButton:hover,
.product__cartButton:focus {
  background: var(--button-hover);
}

.product__cartButton:focus {
  outline: 1px solid var(--button-col);
  outline-offset: -4px;
}

.product__cartButton:active {
  transform: scale(0.99);
}

.product__quantity {
  margin-top: 1.2rem;
  margin-left: 0.4rem;
  display: flex;
  justify-content: center;
  height: 1.5rem;
}

.product__quantity > input {
  max-width: 1.5rem;
}

.product__quantity > button {
  border: 1px solid;
  margin-left: 0.4rem;
  height: 24px;
  background-color: var(--button-danger);
  color: var(--light-shade);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.product__quantity > button:hover,
.product__quantity > button:focus {
  background: var(--button-danger-hover);
}

.product__quantity > button:active {
  transform: scale(0.99);
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

@media (min-width: 600px) {
  .productDetails {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
  }

  .productDetails__photo {
    background-color: white;
    width: 300px;
    height: 450px;
    padding: 1rem;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
  }

  .productDetails__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    width: 20%;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .productDetails__right {
    display: flex;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  .productDetails {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
  }
}

.productDetails__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.productDetails__right {
  display: flex;
  padding: 1rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.productDetails__photo {
  background-color: white;
  width: 260px;
  height: 300px;
  padding: 1rem;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.productDetails__title {
  font-size: 24px;
  font-weight: 700;
}

.productDetails__price {
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .productDetails__description {
    padding-top: 2rem;
    padding-right: 1.5rem;
  }
}

.productDetails__description {
  padding-top: 1rem;
}

.productDetails__form {
  display: flex;
  align-items: center;
}

.productDetails__form > input {
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  max-width: 1.5rem;
}

.productDetails__addToCartButton {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  background-color: var(--button-col);
  height: 22px;
  color: var(--light-shade);
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.productDetails__addToCartButton:hover,
.productDetails__addToCartButton:focus {
  background: var(--button-hover);
}

.productDetails__addToCartButton:focus {
  outline: 1px solid var(--button-col);
  outline-offset: -4px;
}

.productDetails__addToCartButton:active {
  transform: scale(0.99);
}

/* checkout page styling */
@media screen and (min-width: 1600px) {
  .checkout {
    display: flex;
    max-width: 76vw;
  }
  .checkout__ad {
    width: 100%;
    object-fit: contain;
    padding-bottom: 10px;
    max-height: 100px;
  }
}

@media screen and (min-width: 600px) {
  .checkout {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    min-height: 81vh;
  }
  .checkout__left {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .checkout {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    min-height: 75vh;
  }
}

@media (min-width: 600px) {
  .checkout__empty {
    padding-left: 2rem;
  }
}

.checkout__empty {
  padding: 0 2rem;
}

.checkout__right {
  padding-left: 1rem;
  padding-right: 1rem;
}

.checkout__ad {
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkoutProduct {
  display: flex;
  margin: 20px;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

@media screen and (min_height: 600px) {
  .checkoutProduct__image {
    object-fit: contain;
    width: 150px;
    height: 150px;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0.4px 2.2px rgba(0, 0, 0, 0.02),
      0 1px 5.3px rgba(0, 0, 0, 0.028), 0 1.9px 10px rgba(0, 0, 0, 0.035),
      0 3.4px 17.9px rgba(0, 0, 0, 0.042), 0 6.3px 33.4px rgba(0, 0, 0, 0.05),
      0 15px 80px rgba(0, 0, 0, 0.07);
  }
}

.checkoutProduct__image {
  object-fit: contain;
  width: 90px;
  height: 90px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0.4px 2.2px rgba(0, 0, 0, 0.02),
    0 1px 5.3px rgba(0, 0, 0, 0.028), 0 1.9px 10px rgba(0, 0, 0, 0.035),
    0 3.4px 17.9px rgba(0, 0, 0, 0.042), 0 6.3px 33.4px rgba(0, 0, 0, 0.05),
    0 15px 80px rgba(0, 0, 0, 0.07);
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > form {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.checkoutProduct__info > form > input {
  max-width: 1.5rem;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 700;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__button {
  border: 1px solid;
  margin-left: 0.5rem;
  height: 22px;
  background-color: var(--button-col);
  color: var(--light-shade);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.checkoutProduct__buttonDelete {
  border: 1px solid;
  margin-left: 0.5rem;
  height: 22px;
  background-color: var(--button-danger);
  color: var(--light-shade);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.checkoutProduct__button:hover,
.checkoutProduct__button:focus {
  background: var(--button-hover);
}

.checkoutProduct__buttonDelete:hover,
.checkoutProduct__buttonDelete:focus {
  background: var(--button-danger-hover);
}

.checkoutProduct__button:active {
  transform: scale(0.99);
}

.subtotal {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 4.5rem;
  right: 0;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  justify-content: space-between;
  border-radius: 10px;
}

.subtotal > button {
  font-size: 14px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  background-color: var(--button-col);
  color: var(--light-shade);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.subtotal > button:hover,
.subtotal > button:focus {
  background: var(--button-hover);
}

.subtotal > button:active {
  transform: scale(0.99);
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

/* login page */
.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h1 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 92%;
  padding: 0.1rem 0.5rem;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__logo {
  margin: 20px 20px;
  width: 100px;
  object-fit: contain;
}

.login__signinButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  color: #111;
}

@media screen and (min-width: 600) {
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 2rem;
    background-color: var(--dark-shade);
    color: var(--light-shade);
  }

  .footer > img {
    height: 70px;
    padding: 1rem 2rem 1rem 1rem;
  }

  .footer > div {
    text-align: right;
    color: var(--main-col);
    padding-bottom: 2.1rem;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2rem;
  background-color: var(--dark-shade);
  color: var(--light-shade);
}

.footer > img {
  height: 55px;
  padding: 1rem 1rem 1rem 1rem;
}

.footer > div {
  text-align: right;
  color: var(--main-col);
  padding-bottom: 1.8rem;
}
